.navbar, .navbar-inverse {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  min-height: 80px;
}

.nav li {
  display: inline;
  color: white;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
  font-family: Lato;
  font-size: 1.7em;
  font-weight: 300;
  padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
  background-color: #444444;
  transition: 0.7s all linear;
  height: 100%;
}

.card {
  margin: 15px;
  padding: 15px;
}

.responsive {
  width: 100% height:auto;
}

.row {
  display: flex;
  justify-content: center;
}

.carousel-inner img {
  width: 780px;
  height: 440px;
  margin: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p {
  font-family: "Georgia, serif";
}

h1 {
  font-family: "Georgia, serif";
}

footer {
  background-color: #222222;
  color: white;
  padding: 15px;
}
