<!DOCTYPE html>
<html lang="en" ng-app="newsApp">
<!-- Julianna Shevchenko and Eamon Duffy-->

<head>
  <title>The Help Menu</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/news.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type='text/javascript' src="../js/angular.min.js"></script>

</head>

<body style="background-color: #178788;" ng-controller="newsController">

  <div>
    <img src="../images/banner.png" alt="banner" style="width:1000px" class="center">
  </div>

  <!-- Nav Bar -->
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"><img src="../images/gameLogo.png" style="width: 70%;"></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">News</a></li>
          <li><a href="calendar.html">Calendar</a></li>
          <li><a href="socialMedia.html">Social Media</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="row">
    <div class="col-md-6">
      <p style="padding: 25px;" align="left"><input ng-model="searchFor" placeholder="Search" size="30" /></p>
    </div>
    <div class="col-md-6">
      <p style="padding-right: 25px; padding-top: 15px;" align="right"><button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Reporter Login</button></p>
    </div>
  </div>

  <!-- Checkboxes -->
  <div class="filter-box">
           <div class="form-check">
             <input type="checkbox" class="form-check-input" id="dropdownCheck1">
             <label class="form-check-label" for="dropdownCheck1">
               PS4
             </label>
             <input type="checkbox" class="form-check-input" id="dropdownCheck2">
             <label class="form-check-label" for="dropdownCheck2">
               Xbox One
             </label>
             <input type="checkbox" class="form-check-input" id="dropdownCheck3">
             <label class="form-check-label" for="dropdownCheck3">
               PC
             </label>
             <input type="checkbox" class="form-check-input" id="dropdownCheck4">
             <label class="form-check-label" for="dropdownCheck4">
               Switch
             </label>
           </div>
         </div>

  <!-- Login Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header" style="background-color: #F5F5F5;">
          <button type="button" id="close" class="close" data-dismiss="modal">&times;</button>
          <div class="container-fluid text-center">
            <h3 class="modal-title">Login for Members of the Press</h3>
          </div>
        </div>
        <div class="modal-body">
          <div class="container-fluid text-center">
            <form onsubmit="return showForm();">
              <div class="form-group">
                <label for="nameInput">Username</label>
                <input type="name" class="form-control" id="nameInput" placeholder="Username" required>
              </div>

              <div class="form-group">
                <label for="passInput">Password</label>
                <input type="password" class="form-control" id="passInput" placeholder="Password" required>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-default">Login</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" data-target="#myOtherModal" onclick="return closeLoginModal();">Sign Up</button>
              </div>

              <div class="form-group">
                <label>
                  <input type="checkbox" checked="checked" name="remember"> Remember Me
                </label>
                <div class="form-group">
                  <span class="psw"><a href="" onclick="return false;">
                      <p>Forgot Password?</p>
                    </a></span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- End Login Modal -->

  <!-- Create Account Modal -->
  <div class="modal fade" id="myOtherModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #F5F5F5;">
          <button type="button" id="close" class="close" data-dismiss="modal">&times;</button>
          <div class="container-fluid text-center">
            <h3 class="modal-title">Create a HM Reporter Account</h3>
          </div>
        </div>
        <div class="modal-body">
          <div class="container-fluid text-center">
            <form onsubmit="return closeSignupModal();">
              <div class="form-group">
                <label for="nameInput">Username</label>
                <input type="name" class="form-control" id="nameInput" placeholder="Username" required>
              </div>
              <div class="form-group">
                <label for="nameInput">Email</label>
                <input type="email" class="form-control" id="emailInput" placeholder="Email" required>
              </div>
              <div class="form-group">
                <label for="passInput">Password</label>
                <input type="password" class="form-control" id="passInput" placeholder="Password" required>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-default">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" data-target="#myOtherModal" onclick="return closeSignupModal();">Login</button>
              </div>

              <div class="form-group">
                <label>
                  <input type="checkbox" required> I have read the Terms and Conditions of Use
                </label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- End Create Account Modal -->

  <!-- Display Article --> <!-- filter:consoleFilter | this should be used to filter through articles using consoleFilter function -->
  <div ng-repeat="article in articles | filter:searchFor |  orderBy: '-date'" class="recipe panel panel-default">
    <a href="{{article.link}}">
      <div class="panel-heading"> {{ article.title }}</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3"><img src="../images/{{article.image}}" style='max-height: 100%; max-width: 100%;'></img></div>
          <div class="col-md-9">{{ article.summary }}</div>
        </div>
      </div>
      <div class="panel-footer">{{ article.author }} {{ article.date }}</div>
    </a>
  </div>

  <div style="clear: left"></div>

  <div class="myContainer" id="pressOnly">
    <form class="col-md-8" ng-submit="addArticle(new_article)" style="border:#DDDDDD; margin: 50px; background-color: #F5F5F5; padding: 10px;">
      <h3>Add New Article</h3>

      <div class="form-row">
        <input type="text" placeholder="Title" ng-model="new_article.title" />
        <input type="text" placeholder="Author" ng-model="new_article.author" />
        <input type="text" placeholder="YYYY/MM/DD" ng-model="new_article.date" pattern="^\d{4}[\-\/\s]?((((0[13578])|(1[02]))[\-\/\s]?(([0-2][0-9])|(3[01])))|(((0[469])|(11))[\-\/\s]?(([0-2][0-9])|(30)))|(02[\-\/\s]?[0-2][0-9]))$" />
      </div>

      <hr>
      <label for="avatar">Choose a profile picture:</label>
      <input type="file" id="avatar" name="avatar" id="imgUp" accept="image/png, image/jpeg" ng-model="new_article.image">
      <hr>
      <textarea ng-model="new_article.summary" placeholder="Summary ..." rows='4' style="width:100%" maxlength="400" minlength="10" required></textarea>
      <button type="submit" class="btn btn-default">Publish Article</button>
    </form>
  </div>

  <script src="../js/news.js"></script>

  <div style="clear:both;"></div>

  <footer class="container-fluid text-center">
    <p>© <strong>The Help Menu</strong></p>
  </footer>

</body>

</html>
